pipeline/02_Pipeline_StoredProc_Lokkup.json
{
	"name": "02_Pipeline_StoredProc_Lokkup",
	"properties": {
		"activities": [
			{
				"name": "LookupDue Value",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[GetTotalDue]",
						"storedProcedureParameters": {
							"pCustomerId": {
								"type": "Int32",
								"value": "29485"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlFactSalesTable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "GetData",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LookupDue Value",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "GetTotalDue",
					"value": {
						"value": "@activity('LookupDue Value').output.firstRow.TotalDue",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GetDefaultValue",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "GetTotalDue",
					"value": "'"
				}
			}
		],
		"variables": {
			"GetTotalDue": {
				"type": "Integer"
			}
		},
		"annotations": []
	}
}